node_modules
/public/build
/storage/*.key
/storage/*.sqlite
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.yml
Dockerfile
.git
.github
.vscode
.idea
.DS_Store
Thumbs.db
.phpunit.cache
.env.testing
*.bak
phpright.json
composer.lock
package-lock.json
fly.toml
